<launch>
  <!-- <arg name="sim_config" default="$(find minau)/config/sim_gps.parm"/> -->
  <arg name="ardusub_params" default="$(find minau)/config/ardusub_sitl_gps.param"/>
  <!-- Start Gazebo Simulator with underwater world -->
  <arg name="latitude" default="56.71897669633431"/>
  <arg name="longitude" default="3.515625"/>

  <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch">
    <arg name="paused" value="true"/>
  </include>

  <!-- Bluerov Instance 0 -->
  <rosparam command="load" file="$(find cohrint_minau)/config/bluerov2_0.yaml" />
  <!-- <node name="planner" pkg="cohrint_minau" type="planner_node.py" output="screen" ns="bluerov2_0/" /> -->
  <include file="$(find minau)/launch/vehicle.bluerov2.sitl.launch" output="log">
    <arg name="asset_id" value="0"/>
    <arg name="ardusub_instance" value="0"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <arg name="x" value="0.0"/>
    <arg name="y" value="-0.5"/>
    <arg name="z" value="0.0"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="0.0"/>
  </include>

  </launch>