<launch>
	<arg name="config_file" default="gazebo_config.yaml" />

	<rosparam command="load" file="$(find cohrint_minau)/params/$(arg config_file)" />
	
<group ns="bluerov2_0">
	<node name="point_planner" pkg="cohrint_minau" type="point_planner.py" output="screen" />
	<node name="sensor_pub" pkg="cohrint_minau" type="publish_sensors.py" output="screen" />
</group>

<group ns="bluerov2_1">
	<node name="point_planner" pkg="cohrint_minau" type="point_planner.py" output="screen" />
	<node name="sensor_pub" pkg="cohrint_minau" type="publish_sensors.py" output="screen" />
</group>

<!--

<group ns="bluerov2_2">
	<node name="point_planner" pkg="cohrint_minau" type="point_planner.py" output="screen" />
	<node name="sensor_pub" pkg="cohrint_minau" type="publish_sensors.py" output="screen" />
</group>

<group ns="bluerov2_3">
	<node name="point_planner" pkg="cohrint_minau" type="point_planner.py" output="screen" />
	<node name="sensor_pub" pkg="cohrint_minau" type="publish_sensors.py" output="screen" />
</group>

<group ns="bluerov2_4">
	<node name="point_planner" pkg="cohrint_minau" type="point_planner.py" output="screen" />
	<node name="sensor_pub" pkg="cohrint_minau" type="publish_sensors.py" output="screen" />
</group>

<group ns="bluerov2_5">
	<node name="point_planner" pkg="cohrint_minau" type="point_planner.py" output="screen" />
	<node name="sensor_pub" pkg="cohrint_minau" type="publish_sensors.py" output="screen" />
</group>

-->

</launch>